.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.upload-section {
  padding: 30px;
  width: 100%;
  border-radius: 12px;
  transition: 0.3s;
}

.upload-section:hover {
  transform: scale(1.01);
}

.MuiButton-root {
  margin-top: 10px;
}
